<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

            <!-- Page level plugin CSS-->
            <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
    <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">PaYa Admin</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>


        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Usuarios</a>
                    <a class="dropdown-item" href="#"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}" >Salir</a>
                </div>
            </li>
        </ul>

    </nav>
    <div id="wrapper">
        {% include 'menu.html.twig' %}
        <div id="content-wrapper">
            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">{% block module %}{% endblock %}</a>
                    </li>
                    <li class="breadcrumb-item active">{% block view %}{% endblock %}</li>
                    <li class="breadcrumb-item active">{% block action %}{% endblock %}</li>

                </ol>

    {% block body %}{% endblock %}
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2019</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- /.content-wrapper -->
        {% block javascripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

            <!-- Core plugin JavaScript-->
            <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

            <!-- Page level plugin JavaScript-->
            <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
            <script src="{{ asset('vendor/datatables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.js') }}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{{ asset('js/sb-admin.min.js') }}"></script>

            <!-- Demo scripts for this page-->
            <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
            <script src="{{ asset('js/demo/chart-area-demo.js') }}"></script>
        {% endblock %}
    </body>
</html>
